html,
body,
#root {
  height: 100%;
  margin: 0;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: beige;
}

.navigationbar {
  flex: 0 0 auto;
  
}

.mainBody {
  flex: 1; /* takes remaining space */
  background-color: burlywood;
}

.footer {
  flex: 0 0 auto;
  background-color: black;
}
